@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,400&family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: 375px;
    height: 100%;
    background: #90B77D;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #42855B;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    font-size: 15px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 0.1px solid rgb(255, 255, 255);
    border-top: 0.1px solid rgba(0, 0, 0, 0.1);
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    background: #42855B;
    border-radius: 3px;
    cursor: pointer;
}

label #btn{
    left: 325px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: 325px;
    top: 17px;
    font-size: 30px;
    color: #FFFFFF;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: -375px;
}

#check:checked ~ label #btn{
    left: 40px;
    opacity: 1;
    pointer-events: auto;
}

#check:checked ~ label #cancel{
    left: -195px;
}

#check:checked ~ section{
    margin-left: 0px;
}

section{
    background-image: url(/project_perangkat_lunak/img/pembelahan_sel.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
    margin-left: -250px;
}

/* .dropdown-btn{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 15px;
    color: white;
    padding-left: 20px;
    background: #90B77D;
    display: block;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
} */

/* .dropdown-btn:hover a{
    padding-left: 50px;
}

.dropdown-btn ul a i{
    margin-right: 16px;
}
    
.dropdown-btn{
    width: 100%;
} */
    
    /* On mouse-over */

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    
.dropdown-containerr {
    display: none;
    padding-left: 8px;
}

.arrow {
    border: 2px groove white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1px;
    margin-left: 20px;
}
    
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}