@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    background-image: url("/project_perangkat_lunak/img/pembelahan_sel.jpg");
    background-size: cover;
}

footer{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #90B77D;
}

b{
    font-size	: 3em;
    justify-content: center;
    align-items: center;
    position:absolute;
}

nav{
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    height: 250px;
}

.tombol{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #90B77D;
    margin: 10px;
    margin-top: 30px;
    border-radius: 15%;
    box-sizing: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    color: #f1f1f1;
}

.tombol img{
    transition: 0.2s linear;
    font-size: 26px;
    line-height: 90px;
}

.tombol:hover img{
    transform: scale(1.3);
    color: #f1f1f1;
}

@media screen and (max-width:1000px) {
    body{
        overflow: auto;
    }

    #header {
        float: none;
        position: static;
        margin: auto;
        width: fit-content;
    }

    #footer{
        height: 800px;
    }

    .imgheader{
        width: 100%;
        height: 50%;

    }
}

/* .tombol::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
    background: #90B77D;
}

.tombol:hover::before{
    left: -10%;
    top: -10%;
    animation: aaa 0.7s 1;
}  */

/* @keyframes aaa {
    0%{
    left: -110%;
    top: 90%;
    }
    50%{
    left: -10%;
    top: -30%;   
    }
    100%{
        left: -10%;
        top: -10%;   
        }
} */